:root {
  --blue-900: hsl(231, 91%, 21%);
  --blue-800: hsl(239, 95%, 58%);
  --blue-700: hsl(222, 87%, 66%);
  --blue-600: hsl(197, 100%, 94%);
  --smoke-white: hsl(0, 0%, 96%);

  /*  font-weight: 400, 600 */
  --ff-heading: "Ubuntu Mono", monospace;
  --ff-text: "Sarabun", sans-serif;

  --max-wdith: 1050px;

  --standard-transition: all 450ms ease-in-out;
  --standard-radius: 5px;
}

*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--blue-600);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* global style */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  font-family: var(--ff-text);
  color: var(--blue-900);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-heading);
  text-transform: capitalize;
}

h1 {
  font-size: clamp(1.75rem, 10vw, 2.75rem);
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

p {
  font-size: 18px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--blue-600);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-900);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-800);
}

.container {
  margin: 0 auto;
  width: min(90%, var(--max-wdith));
}

button {
  padding: 0.5rem 1rem;
  border: 2px solid var(--blue-900);
  background: var(--blue-900);
  color: var(--smoke-white);
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--standard-transition);
  align-content: flex-end;
}

button:hover {
  background: var(--blue-600);
  color: var(--blue-900);
}

/*  nav style */
nav,
nav ul,
nav ul li,
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  gap: 2rem;
}

nav {
  height: 55px;
  position: sticky;
  top: 0;
  background: var(--blue-900);
  z-index: 2;
}

nav > .container,
nav ul,
nav ul li,
.nav-link {
  height: 100%;
}

.nav-link {
  position: relative;
  font-size: 1.25rem;
  color: var(--smoke-white);
  text-transform: capitalize;
  transition: var(--standard-transition);
}

.nav-link:before {
  position: absolute;
  content: "";
  bottom: 8px;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: var(--standard-radius);
  background: var(--blue-600);
  color: var(--smoke-white);
  transition: var(--standard-transition);
}

.nav-link:hover:before {
  width: 100%;
}

/*  header */
header > .container,
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .container {
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.about-me {
  flex-direction: column-reverse;
  gap: 3rem;
}

@media (min-width: 768px) {
  .about-me {
    flex-direction: row;
    justify-content: space-around;
  }
}

section[data-about] {
  flex-direction: column;
  gap: 1.5rem;
}

code {
  font-size: 1.25rem;
}

.code {
  margin-left: 1.75rem;
  display: block;
}

@media (min-width: 768px) {
  section[data-about] {
    align-items: flex-start;
  }
}

.profile-pic {
  width: min(70%, 250px);
  aspect-ratio: 1;
  border: 5px solid var(--blue-900);
  border-radius: 50%;
}

/*  aside - social media */
aside ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-link {
  width: 45px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  font-size: 30px;
  border-radius: var(--standard-radius);
  border: 2px solid var(--blue-900);
  transition: var(--standard-transition);
}

.social-link:hover {
  box-shadow: 3px 3px 0 var(--blue-900), -3px -3px 0 var(--blue-900);
}

/* main */
main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/*  for skill icons */
.skills-container {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 1rem;
}

.icon {
  padding: 0.5rem;
  width: 85px;
  aspect-ratio: 1;
  background: var(--blue-900);
  border: 3px solid var(--blue-600);
  transition: var(--standard-transition);
}

.icon:hover {
  box-shadow: 5px 5px 0 var(--blue-900), -5px -5px 0 var(--blue-900);
}

.icon img {
  width: 100%;
  height: 100%;
}

/* choices - developer or freelancer */
.choices {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.choices summary {
  font-size: 1.35rem;
}

.developer,
.freelancer {
  flex: 1 0 45%;
}

@media (min-width: 768px) {
  .choices {
    flex-direction: row;
  }
}

/*  projects container */
.showcase {
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 4rem;
}

/*  projects - card style */
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card > * {
  margin-bottom: 1rem;
}

.card {
  padding: 0.5rem;
  min-height: 425px;
  border: 5px solid var(--blue-900);
  box-shadow: 8px 8px 0 var(--blue-900), -8px -8px 0 var(--blue-900);
  transition: var(--standard-transition);
  flex: 1 1 350px;
  max-width: 400px;
}

.card:hover {
  box-shadow: 3px 3px 0 var(--blue-600), -3px -3px 0 var(--blue-600);
}

.project-image {
  height: 200px;
  flex: 0 1 45%;
  overflow: hidden;
  object-fit: cover;
  display: grid;
  place-items: center;
}

.project-info p {
  font-size: 1.25rem;
}

/*  form */
section[data-contact] > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

@media only screen and (min-width: 768px) {
  section[data-contact] > div {
    flex-direction: row;
  }
}

form {
  display: grid;
  place-items: center;
  gap: 0.75rem;
}

.contact-left,
.contact-form {
  flex: 1 1 50%;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-left p {
  font-size: 1.25rem;
  line-height: 2;
}

.contact-left p:nth-child(2) {
  font-size: 1.5rem;
}

.underline {
  text-decoration: underline wavy var(--blue-800);
  text-underline-offset: 5px;
}

form p,
label,
input,
textarea {
  width: 100%;
}

input,
textarea {
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--blue-900);
  border-radius: var(--standard-radius);
  background: transparent;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  gap: 0.25rem;
}

textarea {
  resize: none;
  height: 150px;
}

input:focus,
textarea:focus {
  outline: 2px dashed var(--blue-900);
  outline-offset: 2px;
}

/* footer */
footer {
  padding-block: 16px;
  background: var(--blue-900);
}

footer p {
  color: var(--smoke-white);
  font-size: 0.9rem;
  text-align: center;
}
